<% comments.each do |comment|%>
<div class="card mb-3">
  <div class="card-header">
    <%= comment.client.nickname %>
  </div>
  <div class="card-body">
    <%= comment.message.html_safe %>
  </div>
</div>
<% end %>