    
<li>
  
  <%= lawyer.first_name %>
  <% if current_admin%>
    | <%= link_to "delete", lawyers_path, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
