
<div class="row">
  <div class="col-7 mt-1 mr-auto">
    <div class="row">
      <div class="col-6">
        <div class="btn btn-info pt-3 mt-3 mb-3 w-100 h3">กระทู้ยอดนิยม</div>
      </div>
      <div class="col-6">
        <div class="btn btn-warning pt-3 mt-3 mb-3 w-100">กระทู้ใหม่</div>
      </div>
      <div class="p-3 w-100">
    ABC
      </div>
    </div>
  </div>
  <div class="col-4 mt-1 ">
  <div class="card">
   <div  class="card-header">ห้องสนทนาปัจจุบัน</div>

    <ul class="list-group list-group-flush">
      ABC
    </ul>
  </div>
  </div>
</div>
